


@if $enable-charts {

    
    .chart-container {
        position: relative;
        width: 100%;

        
        &.has-scroll {
            overflow-x: scroll;
            overflow-y: visible;
            max-width: 100%;
        }

        
        @include media-breakpoint-down(sm) {
            overflow-x: scroll;
            overflow-y: visible;
            max-width: 100%;
        }
    }

    
    .chart {
        position: relative;
        display: block;
        width: 100%;

        
        [dir=rtl] & {
            
            direction: ltr;
        }

        
        &.has-minimum-width {
            min-width: $chart-min-width;
        }
    }

    
    .has-fixed-height {
        height: $chart-container-height;
    }

    
    .chart-pie {
        width: 100%;
        height: $chart-container-height;
        min-width: $chart-pie-min-width;
    }
}
